# Executable
/ca

# Build artifacts
/dist/

# Coverage reports
/coverage/

# Ignore store and config directories
/store/
/config/

# go:generate
/internal/infra/config/schemas/

# Nix
/.direnv/
/.devenv/
/.devenv.flake.nix
/result

# LLMs
**/.claude/settings.local.json

# Scratch
/TODO.md
/tmp/
